---
layout: default
---

<div class="home">
{% for post in site.posts %}
<header>
  <h1><a class="showtitle" href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h1>
<p class="post-meta"><span class="date">{{ post.date | date: "%b %-d, %Y" }}</span> @{{post.author}}</p>
</header>
{% if post.content contains '<!--more-->'%}
<div class="excerpt">
  {{post.content|split: '<!--more-->'|first}}
    <div class="readmore">
      <a href="{{post.url}}">Wanna read?</a>
    </div>
  </div>
<p>
      {% endif %}
{% endfor %}
</div>
